[Unit]
Description=Resilio Sync user service
Documentation=https://help.resilio.com/
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ .chezmoi.homeDir }}
ExecStart=/nix/var/nix/profiles/default/bin/rslsync --nodaemon --config {{ .chezmoi.homeDir }}/.config/resilio-sync/rslsync.conf
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
