#!/bin/bash
# hash: {{ include "dot_config/nix/flake.nix" | sha256sum }}

if nix profile list | grep -q "path:$HOME/.config/nix"; then
    nix profile upgrade '.*'
else
    nix profile install "path:$HOME/.config/nix"
fi
